@font-face {
  font-family: 'pixelmix';
  src: local('pixelmix'), url(./assets/fonts/pixelmix.ttf) format('truetype');
}

main {
  background-color: #333969;
  font-family: 'pixelmix', sans-serif;
}

.dialogWindow {
  background-color: #1d2459;
  padding: 1.5rem 2rem;
  border-image: url('./assets/dialogboxbg.png')28 / 10px 10px 10px 10px stretch;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  cursor: pointer;
  z-index: 100;
  min-width: 400px;
  max-width: 60%;
  width: 500px;
  height: 150px;
}

.dialogMessage {
  color: #fff;
  font-size: 1.1rem;
  font-family: 'pixelmix', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  height: 90%;
}

.dialogMessage:after {
  font-size: 1.3rem;
  content: "|";
  animation: caret 500ms linear infinite alternate;
}

@keyframes caret {
  0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes caret {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes caret {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.nextButton {
  display: block;
  background-color: transparent;
  border: none;
  color: #fff;
  float: right;
  padding: 0;
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}

.chevIcon {
  display: block;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: auto;
  width: 4rem;
  cursor: pointer;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%   { top: 95%; }
  50%  { top: 97%; }
  100% { top: 95%; }
}

div svg {
  cursor: default;
}

.section-title {
  color: #fff;
}


.skills-col-title {
  margin-bottom: 2rem;
}

.skills-col-title p {
  color: #fff;
  font-size: 24px;
}

.skills-col {
  margin-bottom: 25px;
}

.skillbox {
  background-color: #1d2459;
  padding: 1.5rem 2rem;
  border-image: url('./assets/dialogboxbg.png')28 / 10px 10px 10px 10px stretch;
  border-width: 5px;
  border-style: solid;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 100;
  max-width: 100%;
  height: 100%;
}

.skill-text {
  font-size: 20px;
}

.ioChip {
  height: auto;
  width: 4rem;
  color: #f29585;
  position: relative;
  margin: 2rem 0 1rem;
}

.faCheck {
  color: #73B954;
  font-weight: 400;
  height: auto;
  width: 2rem;
  margin-right: 25px;
}

#projects p {
  color: #fff;
}